
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://www.in28minutes.com" class="navbar-brand">
            RoseTodo</a></div>
        <ul class="navbar-nav">
            <li><a href="/Welcome/Rose" class="nav-link">Home</a></li>
            <li><a href="/Todo" class="nav-link">Todos</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a href="/Login" class="nav-link">Login</a></li>
            <li><a href="/Logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>

